doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../stylesheets/usuario.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap', rel='stylesheet')
    title Conductor
     // Script para el carrusel en el encabezado
    script.
      document.addEventListener('DOMContentLoaded', function() {
        let index = 0;
        const items = document.querySelectorAll('.carousel-item');
        const totalItems = items.length;

        // Mostrar solo la imagen actual
        function showItem(i) {
          items.forEach((item, idx) => {
            item.style.display = idx === i ? 'block' : 'none';
          });
        }

        // Control de siguiente y previo
        document.querySelector('.carousel-next').addEventListener('click', () => {
          index = (index + 1) % totalItems;
          showItem(index);
        });

        document.querySelector('.carousel-prev').addEventListener('click', () => {
          index = (index - 1 + totalItems) % totalItems;
          showItem(index);
        });

        // Mostrar la primera imagen al cargar
        showItem(index);

        document.getElementById('downloadGuide').addEventListener('click', function () {
          const link = document.createElement('a');
          link.href = '../files/pasajero.apk'; // Ruta al archivo PDF
          link.download = 'pasajero.apk'; // Nombre del archivo al descargar
          link.click();
        });

      });
  body
    header
      .logo
        img(src='../icons/location.svg', alt='Logo')
        span Nintrip
      .nav
        a(href='/') Inicio
        a(href='./pasajero') Pasajero
        a(href='./conductor') Conductor
        a.button-login(href='./login')
          p Inicio de sesión
          img(src='../icons/Vector.svg', alt='Flecha')
    section
      article.title-section
        .titles
          h1.grey
            | Guía de usuario 
            br
            | conductor
          br
          span
            | En la parte inferior encontraras una breve guía sobre como debes de usar 
            br
            | la aplicación siendo un
            |                     usuario conductor
        div
          img(src='../images/home.png', alt='Home image')
        div.download-container
          button#downloadGuide Descargar Aplicación Conductor
      // Carrusel de imágenes
      .carousel
        .carousel-container
          img.carousel-item(src='../images/1_conductor.png', alt='Paso 1')
          img.carousel-item(src='../images/2_conductor.png', alt='Paso 2')
          img.carousel-item(src='../images/3_conductor.png', alt='Paso 3')
          img.carousel-item(src='../images/4_conductor.png', alt='Paso 4')
          img.carousel-item(src='../images/5_conductor.png', alt='Paso 5')
          img.carousel-item(src='../images/6_conductor.png', alt='Paso 6')
          img.carousel-item(src='../images/7_conductor.png', alt='Paso 7')

        // Controles del carrusel
        .carousel-controls
          button.carousel-prev Prev
          button.carousel-next Next