<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>Inicio</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../icons/location.svg" alt="Logo">
            <span>Nintrip</span>
        </div>
        <div class="nav">
            <a href="index.html">Inicio</a>
            <a href="./pasajero.html">Pasajero</a>
            <a href="./conductor.html">Conductor</a>
            <a class="button-login" href="./login.html">
                <p>Inicio de sesión</p>
                <img src="../icons/Vector.svg" alt="Flecha">
            </a>
        </div>
    </header>

    <section>
        <article class="title-section">
            <div class="titles">
                <h1 class="grey">Transporte CDMX en</h1>
                <h1 class="green">en la palma de tu mano</h1>
                <br>
                <span>Toda la información del transporte público de la CDMX a tu alcance</span>
            </div>
            <div>
                <img src="../images/home.png" alt="Home image">
            </div>
        </article>
        <article class="what-to-do">
            <h2>¿Qué puedes realizar con <br>nuestra app?</h2>
            <div class="container">
                <div>
                    <img src="../images/tiempos.png" alt="Tiempos de llegada">
                    <h3>Tiempos de llegada</h3>
                    <span>Podrás observar en tiempo real los tiempos de llegada del transporte a las diferentes
                        estaciones</span>
                </div>
                <div>
                    <img src="../images/incidencias.png" alt="Incidencias">
                    <h3>Incidencias</h3>
                    <span>En el mapa, se mostrarán los distintos accidentes que estén ocurriendo y puedan afectar el
                        servicio</span>
                </div>
                <div>
                    <img src="../images/mobile.png" alt="Monitoreo">
                    <h3>Monitoreo</h3>
                    <span>Tendrás acceso a la ubicación en tiempo real del transporte público</span>
                </div>
            </div>
        </article>
        <article class="viaje-inteligente">
            <img src="../images/mobile-screen.png" alt="Telefono celular">
            <section>
                <h2>Experimenta un viaje más inteligente</h2>
                <span>Con nuestras apps, los usuarios pueden planificar sus trayectorias con más facilidad, mientras que
                    los
                    conductores optimizan sus rutas****.
                    Ambas ofrecen información en tiempo real sobre ubicaciones, tiempos de llegada a las estaciones y
                    cualquier incidencia que pueda surgir.
                </span>
            </section>
        </article>
        <article class="about-us">
            <section class="us">
                <img src="../images/us.png" alt="Sobre nosotros">
                <h3>Sobre nosotros</h3>
                <span>Somos un grupo de estudiantes de la Escuela Superior de Cómputo del Instituto Politécnico Nacional
                    comprometidos con el desarrollo de nuestra ciudad.
                    
                    Con Nintrip, buscamos contribuir a una movilidad más eficiente y sostenible en la CDMX. Nuestra
                    aplicación no solo te ayudara a planificar tus viajes, sino que
                    también fomenta el uso del transporte público y reduce la congestión vehicular.
                </span>
            </section>
            <section class="mision-vision">
                <div>
                    <img src="../images/check.png" alt="Check">
                    <h3>Misión</h3>
                    <span>Ser la herramienta indispensable para los ciudadanos que buscan una movilidad urbana más
                        inteligente, segura y eficiente, conectando a las personas con el transporte público de manera
                        ágil
                        y confiable</span>
                </div>
                <div>
                    <img src="../images/check.png" alt="Check">
                    <h3>Visión</h3>
                    <span>Ser la aplicación líder en el mercado de movilidad urbana, ofreciendo la información más
                        completa
                        y actualizada sobre el transporte público en tiempo real, y convirtiéndonos en el referente para
                        los
                        usuarios y las autoridades</span>
                </div>
            </section>
        </article>
    </section>

    <footer>
        <div class="logo">
            <img src="../icons/location-white.svg" alt="Logo">
            <span>Nintrip</span>
        </div>
        <div class="school">
            <h1>Instituto Politécnico Nacional</h1>
            <br>
            <h1>Escuela Superior de Cómputo</h1>
        </div>
    </footer>
</body>

</html>