<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/usuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>Conductor</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../icons/location.svg" alt="Logo">
            <span>Nintrip</span>
        </div>
        <div class="nav">
            <a href="index.html">Inicio</a>
            <a href="./pasajero.html">Pasajero</a>
            <a href="./conductor.html">Conductor</a>
            <a class="button-login" href="./login.html">
                <p>Inicio de sesión</p>
                <img src="../icons/Vector.svg" alt="Flecha">
            </a>
        </div>
    </header>
    <section>
        <article class="title-section">
            <div class="titles">
                <h1 class="grey">Guía de usuario <br>conductor</h1>
                <br>
                <span>En la parte inferior encontraras una breve guía sobre como debes de usar <br>la aplicación siendo un
                    usuario conductor</span>
            </div>
            <div>
                <img src="../images/home.png" alt="Home image">
            </div>
        </article>
    </section>
</body>

</html>