doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../stylesheets/index.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap' rel='stylesheet')
    title Inicio
  body
    header
      .logo
        img(src='../icons/location.svg' alt='Logo')
        span Nintrip
      .nav
        a(href='index.html') Inicio
        a(href='./pasajero.html') Pasajero
        a(href='./conductor.html') Conductor
        a.button-login(href='./login.html')
          p Inicio de sesión
          img(src='../icons/Vector.svg' alt='Flecha')
    section
      article.title-section
        .titles
          h1.grey Transporte CDMX en
          h1.green en la palma de tu mano
          br
          span Toda la información del transporte público de la CDMX a tu alcance
        div
          img(src='../images/home.png' alt='Home image')
      article.what-to-do
        h2
          | ¿Qué puedes realizar con 
          br
          | nuestra app?
        .container
          div
            img(src='../images/tiempos.png' alt='Tiempos de llegada')
            h3 Tiempos de llegada
            span
              | Podrás observar en tiempo real los tiempos de llegada del transporte a las diferentes
              | estaciones
          div
            img(src='../images/incidencias.png' alt='Incidencias')
            h3 Incidencias
            span
              | En el mapa, se mostrarán los distintos accidentes que estén ocurriendo y puedan afectar el
              | servicio
          div
            img(src='../images/mobile.png' alt='Monitoreo')
            h3 Monitoreo
            span Tendrás acceso a la ubicación en tiempo real del transporte público
      article.viaje-inteligente
        img(src='../images/mobile-screen.png' alt='Telefono celular')
        section
          h2 Experimenta un viaje más inteligente
          span
            | Con nuestras apps, los usuarios pueden planificar sus trayectorias con más facilidad, mientras que
            | los
            | conductores optimizan sus rutas****.
            | Ambas ofrecen información en tiempo real sobre ubicaciones, tiempos de llegada a las estaciones y
            | cualquier incidencia que pueda surgir.
      article.about-us
        section.us
          img(src='../images/us.png' alt='Sobre nosotros')
          h3 Sobre nosotros
          span
            | Somos un grupo de estudiantes de la Escuela Superior de Cómputo del Instituto Politécnico Nacional
            | comprometidos con el desarrollo de nuestra ciudad.
            | Con Nintrip, buscamos contribuir a una movilidad más eficiente y sostenible en la CDMX. Nuestra
            | aplicación no solo te ayudara a planificar tus viajes, sino que
            | también fomenta el uso del transporte público y reduce la congestión vehicular.
        section.mision-vision
          div
            img(src='../images/check.png' alt='Check')
            h3 Misión
            span
              | Ser la herramienta indispensable para los ciudadanos que buscan una movilidad urbana más
              | inteligente, segura y eficiente, conectando a las personas con el transporte público de manera
              | ágil
              | y confiable
          div
            img(src='../images/check.png' alt='Check')
            h3 Visión
            span
              | Ser la aplicación líder en el mercado de movilidad urbana, ofreciendo la información más
              | completa
              | y actualizada sobre el transporte público en tiempo real, y convirtiéndonos en el referente para
              | los
              | usuarios y las autoridades
    footer
      .logo
        img(src='../icons/location-white.svg' alt='Logo')
        span Nintrip
      .school
        h1 Instituto Politécnico Nacional
        br
        h1 Escuela Superior de Cómputo
